// Contact Page Styles
.contact-container {
    max-width: 1008px;
    margin: -60px auto 0 auto;
    background: #fff;
    border-radius: 28px;
    box-shadow: 0 6px 24px rgba(16, 24, 40, 0.1);
    padding: 38px 38px 32px 38px;
    position: relative;
}
.flight-hero-shell {
    max-width: 1100px;
    margin: -60px auto 0 auto;
    background: #fff;
    border-radius: 28px;
    box-shadow: 0 6px 24px rgba(16, 24, 40, 0.1);
    padding: 38px 38px 32px 38px;
    position: relative;
}
.contact-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
    font-family: "Archivo Bold";
    color: #222;
}

.contact-desc {
    text-align: center;
    color: #444;
    font-size: 1rem;
    margin-bottom: 16px;
    font-family: "Archivo Regular";
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-row {
    display: flex;
    gap: 16px;
}

.contact-input:focus {
    border: 1px solid #77dada;
    box-shadow: 0 0 0 4px #caf8f8;
}

.contact-textarea {
    min-height: 150px;
    resize: vertical;
    border: none;
    outline: none;
    background: #fff;
    border: 1px solid #eaecf0;
    border-radius: 24px;
    box-shadow: 0px 1px 2px 0px #1018280d;
    padding: 16px 20px;
    font-family: "Archivo Regular";
    color: #101828;
    line-height: 24px;
    font-size: 16px;
}

.contact-btn {
    width: 100%;
    background: #6ad7d7;
    color: #101828;
    font-size: 1.1rem;
    font-family: "Archivo Medium";
    border: none;
    border-radius: 24px;
    padding: 16px 0;
    cursor: pointer;
    margin-top: 12px;
    transition: background 0.2s;
}
.contact-btn:hover {
    background-color: #0e4f4f;
    color: #fff;
    cursor: pointer;
    fill: #fff;
    filter: brightness(0.95);
}

.contact-required {
    color: #e63946;
    margin-left: 2px;
}

.contact-form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    // &.contact-form-action {
    //     align-items: flex-end;
    //     justify-content: flex-end;
    //     margin-top: 24px;
    //     grid-column: span 2;
    // }
    .contact-label {
        position: absolute;
        top: 0;
        left: 18px;
        transform: translateY(-50%);
        background: #fff;
        padding: 0 8px;
        font-size: 13px;
        font-family: "Archivo Medium";
        color: #475467;
        font-weight: 500;
        z-index: 2;
        font-size: 15px;
        pointer-events: none;

        &::after {
            content: " *";
            color: #e63946;
        }
    }

    .contact-input {
        display: flex;
        align-items: center;
        background: #fff;
        border: 1px solid #eaecf0;
        box-shadow: 0px 1px 2px 0px #1018280d;
        border-radius: 40px;
        padding: 18px 20px;

        &:hover {
            border: 1px solid #77dada;
            box-shadow: 0 0 0 4px #caf8f8;
        }
        .contact-icon {
            margin-right: 8px;
            color: #98a2b3;
            display: flex;
            align-items: center;
        }
        input {
            border: none;
            outline: none;
            background: transparent;
            font-size: 15px;
            // color: #98a2b3;
            width: 100%;
            font-weight: 500;
            font-family: "Archivo Regular";
            ::placeholder {
                color: #98a2b3;
            }
        }
        input[type="number"] {
            text-align: left;
            padding: 0;
        }
    }
}

.contact-label-col2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 32px;
    grid-column-gap: 16px;
    margin: 20px 0;
}
